<div class="col-md-12">
    <hr />
    <footer>
        <div class="col-lg-6">
            <p>&copy; G.E.A @DateTime.Now.Year. Todos os direitos reservados.</p>
        </div>
        <div class="col-lg-6 text-right">
            <p>Versão: 1.0.0</p>
        </div>
    </footer>
</div>
