
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-login">
    <div class="row">
        <div class="col-sm-12">
            <hgroup>
                <h1 class="text-danger text-center">Ocorreu um erro inesperado.</h1>
                <h2 class="text-danger text-center">Entre em contato com o administrador do sistema.</h2>
            </hgroup>
        </div>
    </div>
</div>
