
<div class="col-sm-4 col-sm-offset-2">
    <h3><a href="@Url.Action("EntraVeiculo", "Movimentacao", new { area = "" })">Entrada de Veículo</a></h3>
</div>
<div class="col-sm-4">
    <h3><a href="@Url.Action("PesquisarTicket", "Movimentacao", new { area = "" })">Saída de Veículo</a></h3>
</div>
